.weather-container {
  background-image: url('https://img.freepik.com/vecteurs-libre/sky-fond-pour-videoconference_23-2148623068.jpg');
}


.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
