<p-card class="border border-border">
    <section class="listing">
      <img
        class="listing-photo"
        [src]="housingLocation.photo"
        alt="Exterior photo of {{ housingLocation.name }}"
        crossorigin/>
      <h2 class="listing-heading">{{ housingLocation.name }}</h2>
      <p class="listing-location">{{ housingLocation.city }}, {{ housingLocation.state }}</p>
      <a [routerLink]="['/details', housingLocation.id]">View Details of {{ housingLocation.name }}</a>
    </section>
  </p-card>
  <!-- <div class="bg-card text-card-foreground rounded-lg overflow-hidden shadow-lg">
    <img src="https://openui.fly.dev/openui/300x200.svg?text=Image+1" alt="Image 1" class="w-full h-48 object-cover" />
    <div class="p-4">
        <h2 class="text-lg font-bold mb-2">Beautiful Landscape</h2>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div> -->
